{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neto Craft</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/87452a2af3.js" crossorigin="anonymous"></script>
    
</head>
<body class="container">
    <nav class="row center-xs middle-xs">
        <a href="" class="col-xs-12 col-sm-2"><li><i class="fas fa-store"></i> Tienda</li></a>
        <a href="" class="col-xs-12 col-sm-2"><li><i class="fas fa-comments"></i> Foro</li></a>
        <a href="{% url 'post_list' %}" class="col-xs-12 col-sm-4 "><li><i class="fas fa-home"></i> Neto Craft</li></a>
        <a href="{% url 'wiki' %}" class="col-xs-12 col-sm-2"><li><i class="fab fa-wikipedia-w"></i>iki</li></a>
        <a href="http://map.netocraft.xyz:25573/" class="col-xs-12 col-sm-2"><li><i class="fas fa-map-marked-alt"></i> Mapa</li></a>
    </nav>
    {% if request.user.is_authenticated %}
        <div class="contenedor-login row end-xs">
            <a href="{% url 'perfil' request.user.username %}" class="col-xs-12 col-sm-2 center-xs"><i class="fas fa-user"></i> Perfíl</a>
            <a href="{% url 'logout' %}" class="col-xs-12 col-sm-2 center-xs"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
        </div>
    {% else %}
        <div class="contenedor-login row center-xs">
            <a href="{% url 'login' %}" class="col-xs-12 col-sm-6">Ingresár</a>
            <a href="{% url 'register' %}" class="col-xs-12 col-sm-6">Registrarme</a>
        </div>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
        <div class="notification {{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif%}
    <div class="contenido-pagina">
    {% block content %}
    {% endblock %}
    </div>
    <footer>
        <div class="footer row center-xs">
            <p class="col-xs-12">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae odit doloremque maiores vel illum facilis voluptates est, veniam nihil ipsam iusto a sed et rem. Temporibus voluptatem officiis enim error! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus tempora ipsa iure dolor cumque totam. Nesciunt eveniet officia nemo, consequuntur recusandae quas neque laudantium eos quasi rerum ducimus, deserunt ipsa!</p>
            <p class="col-xs-12">Desarollado por x4no195</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{% static 'js/status.js' %}"></script>
</body>
</html>